@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500;600&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  font-family: Chakra Petch, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  font-family: Chakra Petch, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: black;
}
header {
  padding: 60px;
  text-align: center;
  background: #343739;
  color: #fff;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
}

.card1 {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 55%;
  background-color: rgb(241, 245, 251);
}

.card1 header {
  border-radius: 10px;
  padding: 20px;
}

.card1 img {
  border-radius: 20px;
  width: 100%;
}

.card2 {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 55%;
  background-color: rgb(241, 245, 251);
}

.card2 header {
  border-radius: 10px;
  padding: 20px;
}

.card2 img {
  border-radius: 20px;
  width: 100%;
}

.card3 {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  width: 55%;
  background-color: rgb(241, 245, 251);
}

.card3 header {
  border-radius: 10px;
  padding: 20px;
}

.card3 img {
  border-radius: 20px;
  width: 100%;
}

button {
  color: #090909;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 16px;
  border-radius: 10px;
  background: rgb(241, 245, 251);
  border: none;
  align-items: center;
  transition: all 0.1s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button:hover {
  transition: 0.2s ease-in-out;
  background-color: rgb(87, 163, 239);
  cursor: pointer;
}

#motivato {
  color: black;
  font-size: 20px;
  margin-top: 15px;
}

#excuseQuote {
  color: black;
  margin-bottom: 0px;
}

#excuseCard {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 55%;
  background-color: rgb(109, 177, 246);
}

#clearExcusesButton {
  color: #090909;
}

#excusePerson {
  font-size: 18px;
}

.card {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.quote {
  font-size: 18px;
  font-weight: bold;
}

.person {
  font-size: 14px;
  color: black;
}

@media screen and (max-width: 900px) {
  .card {
    width: 50%;
  }

  header {
    background: rgb(28, 137, 246);
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }

  header {
    background: #343739;
  }
}