@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500;600&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Chakra Petch', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5px;
  margin: 0 auto;
  font-size: 16px;
  border-radius: 10px;
  background: rgb(241, 245, 251);
  background-color: #3f4f5c;
  border: none;
  transition: all 0.1s;
  box-shadow: 10px 10px 10px -10px rgba(0,0,0,40);
}

button:hover {
  transition: 0.2s ease-in-out;
  background-color: rgb(87, 163, 239);
  cursor: pointer;
}